extends layout

block content
  h1= title
  table.table
    thead
      tr
        th Book
        th Author
        th Summary
    tbody
      each book in book_list
        tr
          td 
            a(href=book.url) #{book.title}
          td #{book.author.name}
          td #{book.summary.slice(0, 35)} ...
  

      else
        tr
          td There are no books.